%h5 Teams List

- if @league.teams.empty?
  Your league haven't teams loaded yet, please create them

- else
  .container
  - @league.teams.each do |team|
    %span{:class => "ss_sprite ss_bullet_green"}
      = team.name
    %br

%br/
%br/

%h5 Quick Team Creation
- form_for [:admin, @league, Team.new] do |f|
  = f.label :name
  = f.text_field :name

  = f.submit 'Create'
