<% title = 'El Prode Yetero' %>

<h1>Welcome to "El Prode Yetero"</h1>

<p> Are you feeling lucky? then enter and beat your friends giving the best forecasts </p>

<%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>

